<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
</head>
<body>
    <h2>Welcome to our app</h2>
    <h4>Enter your credentials carefully - </h4>
    <form action="/user" method="post">
        <label for="username">Username :</label>
        <input type="text" name="username" placeholder="Enter username" required>
        <br><br>
        <label for="email">Email :</label>
        <input type="email" name="email" placeholder="Enter email" required>
        <br><br>
        <label for="password">Password :</label>
        <input type="password" name="password" placeholder="Enter password" required>
        <br><br>
        <button>Click to add!</button>
    </form>
</body>
</html>