<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Username</title>
</head>
<body>
    <h2>You can change username only ones!!! : <%= user.email %> </h2>
    <form action="/user/<%= user.id %>?_method=PATCH" method="post">
        <label for="username">Username : </label>
        <input type="text" name="username" value="<%= user.name %>">
        <br><br>
        <label for="password">Password :&nbsp; </label>
        <input type="password" name="password" placeholder="Enter your password">
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>