<%- include("includes/header.ejs")  %>

<body>
    <h1>Welcome to our home page by EJS 3*7</h1>
    <h3><%= 3*7 %></h3>
    <h3> <%= "Shivam Singh".toUpperCase() %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae recusandae animi officiis ipsum alias enim aspernatur eius nulla laudantium est suscipit sapiente necessitatibus debitis dolore quo deserunt ullam molestias vel, quisquam, pariatur at, iusto quasi! Atque dignissimos quidem amet iure iusto unde aspernatur itaque magni laborum aliquid vel animi, voluptate exercitationem quasi reprehenderit sed perferendis fuga dolores corrupti deserunt hic harum vitae at esse. Quae possimus deleniti eius corporis placeat repellat aliquid sequi impedit, officia, nobis incidunt libero quisquam quo vero laboriosam distinctio? Ullam deserunt velit quam architecto enim, sit soluta ab ipsa itaque. Quasi tenetur harum illum vero ad.</p>
    <button>Click me!</button>

    <%- include("includes/footer.ejs")  %>

</body>
</html>